<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/main}">
<head>
  <title layout:fragment="title">축제일정</title>
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/festival.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
  </th:block>
  <th:block layout:fragment="script">
    <script th:src="@{/js/festival.js}"></script>
  </th:block>
</head>
<div layout:fragment="main" id="main">
  <h2> 축제일정 </h2>
  <div id="calendar_up">
    <div class="monthbt">
      <div class="arrowbt">
        <button type="button" class="prev">◀</button>
      </div>
    </div>
    <span id="cym"></span>
    <div class="monthbt">
      <div class="arrowbt">
        <button type="button" class="next">▶</button>
      </div>
    </div>
  </div>
  <div class="calendar">
    <table>
      <colgroup>
        <col style="width:calc(100%/7)" span="7">
      </colgroup>
      <thead>
        <tr>
          <th class="redday"><span>일</span></th>
          <th><span>월</span></th>
          <th><span>화</span></th>
          <th><span>수</span></th>
          <th><span>목</span></th>
          <th><span>금</span></th>
          <th class="blueday"><span>토</span></th>
        </tr>
      </thead>
      <tbody id="calendar"></tbody>
    </table>
  </div>
  <div id="festival-list"></div>
</div>
</html>