<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">
<head>
  <meta charset="UTF-8">
  <title layout:fragment="title"></title>
  <script src="/js/info.js"></script>

  <th:block layout:fragment="css"></th:block>
  <th:block layout:fragment="script"></th:block>
</head>
<div layout:fragment="main" id="main">
  <!-- 결과 표시 -->
  <div th:if="${foundId}">
    <p>찾으신 아이디: <span th:text="${foundId}"></span></p>
  </div>
  <div th:if="${findFailMsg}">
    <p th:text="${findFailMsg}" style="color:red;"></p>
  </div>
  <div th:if="${foundPassword}">
    <p>찾으신 비밀번호: <span th:text="${foundPassword}"></span></p>
  </div>
  <div th:if="${resetFailMsg}">
    <p th:text="${resetFailMsg}" style="color:red;"></p>
  </div>


</div>
</html>

