#footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 1200px; /* 원하는 최대 너비 */
    margin: 0 auto; /* 중앙 정렬 */
}

.foot-logo {
    margin-bottom: 10px;
}

.outsite {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}

.outsite:hover {
    text-decoration: underline;
}

#address {
    font-size: 12px;
    color: #666;
}
